html{
    font-family: 'DM Sans', sans-serif;
    font-size: 62.5%;
    box-sizing: border-box;
    --bg-color: #E5E5E5;
    --color: #6D75A4;
    --fill: #4A86F8;
    --black: #3333;
}
*,*::before, *::after{
    box-sizing: inherit;
}
body{
    color: var(--color);
    margin: 0;
    padding: 0;
    font-family: DM Sans;
    
}